div {
 border: 1px solid black;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 450px 1fr;
    min-height: 100%;
    min-width: max-content;
    margin: 10px;
    gap: 25px;
}

.options-container {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr;
}

.display-container {
    border: 1px solid black;
    min-height: 100dvb;
    padding: 25px;
}

.input-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.inputStatus-container {
    padding: 10px;
}

.btnTool-container {
    display: flex;
    justify-content: center;
    padding: 10px
}

.input-container input {
    outline: black;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.card-container {
    border: 1px solid black;
    justify-content: flex-start;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, min(500px));
}

.course-card {
    display: grid;
    min-height: 100%;
    border: 1px solid black;
}

.course-stats {
    display: grid;
    padding: 25px;
    grid-template-rows: 1fr 4fr 1.5fr 1.8fr;
}

.course-stats li {
    list-style: none;
    text-decoration-style: double;
    padding-bottom: 25px;
}

.course-stats ul {
    padding: 0;
    margin: 0;
}

.card-tool {
    padding: 8px 15px 8px 15px;
    width: 125px;
}

.btnTool {
    height: 50px;
    width: 250px;
}

.cardTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cardBtnContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardIncrementContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardTotalLessons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardTakenLessons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardLessonsContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.input-container label {
    font-size: large;
}

.input-container input {
    font-size: medium;
    padding: 3px;
}

.inputStatus-container label {
    font-size: large;
}

.inputStatus-container input {
    font-size: large;
    padding: 3px;
}
