div {
    border: 1px solid black;
}


.main-container {
    display: grid;
    grid-template-columns: 450px 1fr;
    min-height: 100dvb;
    margin: 10px;
    gap: 25px;
}

.options-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.display-container {
    min-height: 100dvb;
    padding: 25px;
}

.fieldset {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.input-container input {
    outline: black;
}

.card-container {
    min-height: 100dvb;
    justify-content: center;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(500px, 500px));
}

.character-card {
    display: grid;;
    grid-template-columns: 1fr 2fr;
}

.character-stats {
    display: flex;
    padding: 25px;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
}

.character-stats li {
    list-style: none;
    text-decoration-style: double;
    padding-bottom: 25px;
}

.character-stats ul {
    padding: 0;
    margin: 0;
}

.stat-button {
    padding: 8px 15px 8px 15px;
}